a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #222;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}


main {
padding: 50px;
}

section.intro {
text-align: center;
}

section.intro h2 {
font-size: 36px;
font-weight: 700;
margin-bottom: 20px;
}

section.intro p {
font-size: 18px;
font-weight: 400;
margin-bottom: 40px;
}

section.intro .btn {
display: inline-block;
padding: 10px 20px;
background-color: #fff;
color: #333;
border-radius: 5px;
text-decoration: none;
font-size: 16px;
font-weight: 500;

transition: all 0.2s ease-in-out;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
.logo {
 
    z-index: 5;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    }
section.intro .btn:hover {
background-color: #ccc;
color: #222;
}

section.latest-games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
section.other-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.game-card {
    width: calc(50% - 20px);
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    margin: 0 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.game-card:hover {
    transform: rotateY(10deg);
}

.game-card img {
    width: 100%; /* Obrazy gier mają stałą szerokość, aby zachować spójny wygląd */
    max-height: 200px; /* Ustalona maksymalna wysokość obrazka */
    object-fit: cover; /* Dostosowanie obrazka do kontenera */
    border-radius: 5px;
    margin-bottom: 10px;
}

.game-card h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.game-card p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.game-card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.game-card .btn:hover {
    background-color: #ccc;
    color: #222;
}


footer {
background-color: #333;
padding: 20px;
text-align: center;
font-size: 14px;
color: #fff;
}

/* Initial styles for the menu */
#menu {
    position: fixed;
    top: -100%; /* Start offscreen */
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #333;
    transition: top 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  /* Show the menu by adjusting the top position */
  #menu.show {
    top: 0;
  }

  /* Styles for the menu items */
  #menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #menu li {
    padding: 10px;
  }
  
  #menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
   
  .menu-btn {
    
   
    z-index: 1;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
  }
  

  
@media only screen and (max-width: 1000px) {

    h1 {
        font-size: 75px;
        color: #f00;
        transition: font-size 0.5s ease-in-out, color 0.5s ease-in-out;
    }
    /* Reduce padding in main section */
    main {
        padding: 20px;
    }
.socials h1{
    font-size:75px;
    }
    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        display: block;
        margin: 0 auto;
        font-size:100px;
        margin:20px;
        }

    /* Change width and margin of game cards */
    .game-card {
        width: 100%;
        margin: 0 auto 20px;
    }

    /* Center align game card titles */
    .game-card h3 {
        text-align: center;
        font-size:100px;
    }
  
    /* Center align intro section button */
    section.intro .btn {
        display: block;
        margin: 0 auto;
        font-size:100px;
    }

    /* Modify font sizes */
    h1 {
        font-size: 75px;
    }
h2{
    font-size:100px;
    }
    p {
        font-size:75px;
    }
    nav ul li a {
        font-size: 75px;
        
    }

    section.intro h2 {
        font-size: 98px;
    }

    section.intro p {
        font-size: 75px;
    }

    .game-card p {
        font-size: 75px;
    }
.menu-btn {
    font-size:40px;
}
    .game-card .btn {
        font-size: 75px;
        padding: 5px 10px;
    }
   footer p {
font-size: 20px;
   }
   .Skills h2{
font-size:75px;
   }
   .skillsul li  {
font-size: 65px;
   }
   #menu {
    height: 0; /* Dla mniejszych ekranów startujemy z zamkniętym menu */
    background-color: rgba(51, 51, 51, 0.9); /* Lekkie przyciemnienie tła */
    z-index:1
  }
 
  #menu.show {
    height: 100%; /* Pełna wysokość ekranu przy rozwiniętym menu */
  }
.menu-btn{
    z-index: 2;
}
  /* Dostosowanie stylów linków w menu dla mniejszych ekranów */
  #menu a {
    font-size: 100px;
   
  }
}

