@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cyber-bg text-white font-inter;
}

::-webkit-scrollbar {
  width: 8px;
  background: #23232b;
}
::-webkit-scrollbar-thumb {
  background: #00ffe7;
  border-radius: 8px;
}
